# Arquivos de build
/build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Evitar arquivos de dependências gerados pelo CMake/compilação incremental
*.o.d

# Binário de build local
/build/Intercepto

# Binários
*.exe
*.out
*.o

# Outros
*.log
*.tmp
.DS_Store
.idea/
.vscode/
*.swp
